/*ESTILOS PARA CATALOGO DE PRODUCTOS*/
/*ESTILOS MODAL CATALOGO*/
/* Contenedor con sombra */
.cat-container {
  margin: 20px auto;
  padding: 20px;
  max-width: 1400px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.unique-modal {
    display: none; /* Mantenerlo oculto por defecto */
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Fondo semitransparente */
  }

  /* El contenido del modal */
  .unique-modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    position: relative;
    max-width: 500px;
    text-align: center;
    border-radius: 10px; /* Bordes redondeados */
  }
  
  /* Estilos para la "X" que cierra el modal */
  .unique-close {
    color: #aaa;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    z-index: 10;
  }
  
  .unique-close:hover,
  .unique-close:focus {
    color: black;
    text-decoration: none;
  }
  
  /* Estilo para el texto y el contenido del modal */
  h2 {
    font-family: Poppins, sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .modal-body {
    font-size: 16px;
  }
  
  .info-box {
    margin-bottom: 20px;
  }
  
  button#suggest-change {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
  }
  
  button#suggest-change:hover {
    background-color: #0056b3;
  }
  
  /* Estilos para los detalles del producto */
  .product-details {
    margin-top: 15px;
  }
  
  .product-details p {
    font-size: 14px;
  }
  
  /* Estilo para la imagen del producto */
  #product-image {
    width: 150px;
    height: auto;
    margin-top: 15px;
    border-radius: 5px;
    display: block;
    margin-bottom: 15px;
  }
  

  
  


