*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: #e2eaff;
    color: #101632dd;
}

header{
    background-color: #fff;
    user-select: none;
}

li{
    list-style: none;
}

a{
    color: #48e/*#f1c40f*/;
    text-decoration: none;
    /*CAMBIAR LA TIPOGRAFIA A UNA MAS ANCHA*/
}

/*---------------------------------------------HEADER SECTION---------------------------------------------*/

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    z-index: -1;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    position: relative;
    z-index: 10;
}


.nav-logo{
    max-width: 100%;
    width:120px;
    margin: 10px 20px;
}

.nav-link{
    transition: 0.7s ease;    
}

.nav-link:hover{
    color: #15a;
    text-decoration: underline;
}

.hamburger{
    display: none;
    cursor: pointer;
    position: relative;
    z-index: 10;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}
.no-scroll {
    overflow: hidden;
}

/*---------------------------------------------HEADER QUERRIES---------------------------------------------*/
@media (max-width:768px){
    .nav-logo{
        width: 120px;
    }
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .nav-item{
        margin: 16px 0;
    }
    .nav-menu.active{
        left: 0;
    }
}

/*---------------------------------------------END HEADER---------------------------------------------*/


/*---------------------------------------------HOME SECTION---------------------------------------------*/
.home{
    container-name:home;
    container-type: inline-size;
}

.home__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    max-width: 1100px;
}

.home__data-container{
    max-width: 600px;
    padding: 12px;
}

.home__img-container{
    max-height: 500px;
    overflow: hidden;
}

.home__img{
    max-width: 100%;
    width: 550px;
}

h1{
    color: #FABC3F;
    padding-bottom: 20px;
}
/*---------------------------------------------HOME QUERRIES---------------------------------------------*/

@container home (min-width:720px){
    .home__wrapper{
        flex-direction: row;
        padding: 20px;
        background-color: transparent;
        margin: auto;
    }
    .home__data-container{
        background-color: #fff;
        display: flex;
        align-items: center;
        border-radius: 0px 25px 25px 0px;
    }
    h1{
        margin-top: 0;
        font-size: 40px;
        text-wrap: balance;
    }
    .home__data{
        max-width: 620px;
    }
    .home__img{
        height: 100%;
        object-fit: cover;
        width: 620px;
        background-color: #fff;
        border-radius: 25px 0px 0px 25px;
    }
}
/*---------------------------------------------END HOME---------------------------------------------*/

/*---------------------------------------------NEGOCIOS SECTION---------------------------------------------*/

.negocios{
    background-color: #18233f;
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    container-name: negocios;
    container-type:inline-size;
    user-select: none;
}

hr{
    max-width: 500px;      
    border: 1px solid #fff; 
    margin: 20px auto;    
    width: 100%; 
}

.negocios__title{
    font-size: 3rem;
}

.negocios__container{
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1300px;
    margin: auto;
    width: 100%;
    gap: 12px;
    padding: 12px;
    min-height: 90vh;
}

.negocios__type{
    background-position: center;
    background-size: cover;
    display: grid;
    place-content: center;
    text-decoration: none;
    color: #fff;
}

.negocios__type:hover{
    opacity: 0.74;
    outline: 2px solid #fff6;
}
.negocios__image{
    width: 100%;
    max-width: 1300px;
    height: auto;
    border-radius: 5px;
}
#hamburguesa{
    background-image:linear-gradient(#0009, #0009), url("../Util/img/hamburguesa.jpg");
}
#alitas{
    background-image:linear-gradient(#0009, #0009), url("../Util/img/alitas.jpg");
}
#chilaquiles{
    background-image:linear-gradient(#0009, #0009), url("../Util/img/chilaquiles.jpg");
}
#pizza{
    background-image:linear-gradient(#0009, #0009), url("../Util/img/pizza.jpg");
}
#pollo{
    background-image:linear-gradient(#0009, #0009), url("../Util/img/pollo2.jpg");
}
#cenaduria{
    background-image:linear-gradient(#0009, #0009), url("../Util/img/cenaduria.jpg");
}
#tacos{
    background-image:linear-gradient(#0009, #0009), url("../Util/img/Tacos.jpg");
}
#tapioca{
    background-image:linear-gradient(#0009, #0009), url("../Util/img/tapioca.jpeg");
}
.productos__empty{
    text-align: center;
}
/*---------------------------------------------NEGOCIOS QUERRIES---------------------------------------------*/

@container negocios (min-width: 45rem){
    .negocios__container{
        grid-template-columns: repeat(auto-fill,minmax(420px,1fr));
    }
}
@container negocios (min-width: 56.25rem){
    .negocios__container{
        grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    }
}