<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/estilosLog.css"/>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Login de hills snacks</title>
</head>

<body>
    <div class="wrapper">
        <form id="loginForm" action="../controller/LoginController.php" method="POST" onsubmit="return handleSubmit(event);">
            <h1>INICIO DE SESIÓN</h1>
        
            <div class="input-box">
                <i class='bx bx-user'></i>
                <input type="text" name="username" placeholder="Usuario" required>
            </div>
        
            <div class="input-box">
                <i class='bx bx-lock-alt'></i>
                <input type="password" name="password" placeholder="Contraseña" required>
            </div>
        
            <div class="remember-forgot">
                <label><input type="checkbox" name="remember">Recordar usuario</label>
                <a href="#">Olvidaste tu Contraseña?</a>
            </div>
            <div class="register-link">
                <p>No tienes cuenta? <a href="RegistroU.html">Crear cuenta</a></p>
            </div>
        
            <button type="submit" class="btn">Login</button>
        </form>
    </div>

    <script src="../js/funciones.js"></script>

</body>
</html>
