<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/snacks/css/adminStyles.css"/> <!-- Puedes agregar tus estilos aquí -->
    <title>Panel de Administración</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/snacks/views/super/validNeg.php">Validación de Negocios</a></li>
            <li><a href="snacks/views/admin/gestionUsuarios.php">Gestión de Usuarios</a></li>
            <li><a href="/snacks/views/admin/estadisticas.php">Estadísticas</a></li>
            <li><a href="/snacks/views/admin/cerrar.php">Cerrar Sesión</a></li>
        </ul>
    </nav>

    <div class="container">
        <h1>Panel de Administración</h1>
        <p>Bienvenido(a). Aquí puedes verificar los negocios registrados y gestionar usuarios.</p>
    </div>
</body>
</html>
